body{
	margin: 0;
}
a{
	color: #000;
}
a:hover{
	color: gray;
	text-decoration: underline;
}
a:focus{
	text-decoration: none;
}
.header{
	width: 100%;
	height: 30px;
	margin:0;
	box-shadow: 0px -5px 10px 5px gray;
	background-color: #fff;
	z-index: 999;
}
.header>div{
	width: 70%;
	height: 30px;
	margin: 0 auto;
}
.header>div>div:nth-child(2)>div{
	height: 20px;
	line-height:20px;
	margin: 0 auto;
	padding: 0 5px;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}
.city{
	width: 25%;
	font-weight: bold;
	float: left;
	color: rgb(12,12,12);
	margin-top: 5px;
}
.city+div{
	width: 120px;
	float: right;
	margin-top: 5px;
}
.login{
	border-right: 1px solid rgb(12,12,12);
	float: left;
}
.regist{
	float: left;
}
.top{
	width: 80%;
	height: 125px;
	margin: 10px auto;
}
.logo{
	width: 20%;
	height: 60px;
	float: left;
}
.logo+div{
	width: 10%;
	height: 60px;
	float: left;
}
.logo+div+div{
	width: 40%;
	height: 60px;
	float: left;
}
.search{
	width: 100%;
	height: 42px;
	margin: 9px auto;
	border: 2px solid rgb(206,202,216);
	float: left;
}
.search>span{
	width: 80%;
	display: inline-block;
	float: left;
}
.search>span>input{
	width: 100%;
	height: 38px;
	border: none;
	border-right: 2px solid rgb(206,202,216);
	text-indent: 2em;
}
.search>span>input:focus{
	border: none;
}
.search>div{
	width: 20%;
	height: 40px;
	display: inline-block;
	float: left;
}
.search>div>div{
	width: 36%;
	height: 16px;
	margin: 11px auto;
}
.search>div>div>a:hover{
	color:rgb(221,123,39);
}
.inform{
	width: 20%;
	height: 50px;
	margin-top:10px;
	float: right;
}
.inform>div{
	width: 140px;
	height: 40px;
	line-height: 40px;
	float: right;
	border: 1px solid rgb(206,202,216);
}
.inform>div>div{
	width: 65%;
	height: 36px;
	margin:2px auto;
}
.inform>div>div>a:hover{
	text-decoration: none;
	color: #000;
}
.inform+div{
	width: 80%;
	height: 40px;
	margin:10px auto;
	float: left;
}
.select{
	width: 100%;
	height: 200px;
	margin: 0 auto;
}
.selecttab{
	width: 90%;
	height: 40px;
	margin: 0 auto;
	border-bottom: 2px solid rgb(206,202,216);
}
.selecttab>div{
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.selection{
	width:85%;
	height: 200px;
	margin: 0 auto;
}
.tab{
	width: 100%;
	margin: 20px auto;
}
.tab>div:first-child{
	width: 85%;
	height: 40px;
	margin: 0 auto;
	border-bottom:2px solid rgba(101,85,85,0.5);
}
.tabselect{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	border:2px solid rgba(101,85,85,0.5);
	border-bottom:none;
	display: inline-block;
	color: #000;
	background-color: transparent;
	cursor: pointer;
}
.tab>div:nth-child(2){
	width: 80%;
	height: 25px;
	margin:10px auto;
}
.rank{
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	float: right;
	cursor: pointer;
	border: 1px solid #BAC;
	background-color: #CCC;
}
.tab>div:nth-child(2)>div:nth-child(2){
	border-left: none;
	border-right: none;
}
.tab>div:nth-child(3){
	width: 90%;
	margin: 10px auto;
}
/*.tab>div:last-child{
	width: 60%;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
}*/
.rentblock>div:last-child,
.saleblock>div:last-child,
.rentneedblock>div:last-child,
.saleneedblock>div:last-child{
	width: 200px;
	height: 40px;
	margin:20px auto;
}
.rentblock>div:last-child>div,
.saleblock>div:last-child>div,
.rentneedblock>div:last-child>div,
.saleneedblock>div:last-child>div{
	padding-left: 10px;
	float: left;
}
.tab>div:nth-child(3)>div>div:last-child>div:not(:nth-child(2)){
	text-decoration: underline;
	cursor: pointer;
}
.rent,.sale,.rentneed,.saleneed{
	width: 95%;
	height: 180px;
	margin: 0 auto;
	border-bottom: 1px solid rgb(12,12,12);
}
.picture{
	width: 180px;
	height: 150px;
	margin-top: 15px;
	float: left;
}
.picture>img{
	width: 100%;
	height: 100%;
}
.picture+div{
	width: 50%;	
	height: 150px;
	margin-top: 15px;
	margin-left: 20px;
	float: left;
}
.picture+div>div{
	font-family: "Microsoft YaHei";
}
.picture+div>div:first-child{
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	margin-top: 10px;
}
.picture+div>div:not(:first-child){
	margin-top: 15px;
	font-size: 14px;
}
.picture+div>div:nth-child(4){
	float: left;
}
.picture+div>div:last-child{
	float: right;
}
.price{
	width: 20%;
	height: 150px;
	margin-top: 15px;
	margin-left: 10px;
	line-height: 150px;
	font-family: "Microsoft YaHei";
	font-size: 20px;
	text-align: center;
	float: left;
}
.foot{
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;
}
.foot>div:first-child{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-indent: 2em;
	margin: 0 auto;
}
.foot>div:nth-child(2){
	width: 90%;
	height: 80px;
	margin: 0 auto;
}
.foot>div:nth-child(2)>ul{
	margin: 0;
	padding: 0;
	height: 80px;
	list-style-type: none;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}
.foot>div:nth-child(2)>ul>li{
	margin: 15px 20px;
	padding-left: 10px;
	height: 20px;
	float:left;
}
.footer{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: rgb(12,45,34);
	color: #fff;
}
#back{
	width: 200px;
	height: 160px;
	position: fixed;
	right: 50px;
	bottom: 5px;	
	background-color: transparent;
	color: #fff;
}
#back>div:first-child{
	width: 100%;
	height: 113px;
	border: 1px solid gray;
}
#back>div:first-child img{
	width: 100%;
}
#back>div:nth-child(2){
	width: 100%;
	height: 10px;
	background-color: transparent;
}
#back>div:nth-child(3){
	width: 100px;
	height: 30px;
	padding-left: 2px;
	line-height: 30px;
	float: left;
}
#back>div:last-child{
	width: 100px;
	height: 30px;
	padding-left: 2px;
	line-height: 30px;
	float: left;
}
#back>div:nth-child(n+3){
	background-color: gray;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	cursor: pointer;
}
#back>div:nth-child(n+3):hover{
	background-color: rgb(82,71,71);
}
.sel{
	font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
}
.sel:hover{
	text-decoration: none;
	color: #39ac6a;
	cursor: pointer;
}

.price-sel{
	font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
}
.price-sel:hover{
	text-decoration: none;
	color: #39ac6a;
	cursor: pointer;
}

.house-sel{
	font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
}
.house-sel:hover{
	text-decoration: none;
	color: #39ac6a;
	cursor: pointer;
}

.area-sel{
	font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
}
.area-sel:hover{
	text-decoration: none;
	color: #39ac6a;
	cursor: pointer;
}

.addcss{
	font-weight: bold;
	color:#39ac6a;
}

.poi{
	cursor: pointer;
}


